body, html {
    height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}



h1, h2, h3 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-style: italic;
}

button {
  font-family: 'Montserrat', sans-serif;
  /* font-weight: 700; */
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 3px;
}



 .form-wrapper button{
    background:  #e7b2dc;
    border-radius: 15px;
  }
  .home-container{
    margin: 0 auto;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background: url("../../images/unsplash3.jpg") no-repeat; 
    background-size: cover; 
    margin: 0 auto;
    height: 100vh; 
  }

  .contact-container{
    margin: 0 auto;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background: url("../../images/desk.jpg") no-repeat; 
    background-size: cover; 
    height: 100vh; 
    background-attachment: fixed;
  }
  
  .contact-wrapper{
    /* background: blue; */
    width: 100%;
  }

  .form-wrapper{
    background:white;
    margin-bottom: 100px;
    padding-bottom: 20px;
  }

  .contact-title{
    width:100%;
    /* background-color: rgb(228,181,225,0.6); */
    margin: 0;
    color: #777777;
  }

  .title-wrapper{
    width: 50%;
    background: white;
    margin-top: 100px;
  }
  /* .parallax {
    /* The image used */
    /* background-image: url("../../../public/images/unsplash3.jpg"); */
  
    /* Set a specific height */
    /* height: 500px; */
  
    /* Create the parallax scrolling effect */
    /* background-attachment: fixed; */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  } */ 
  
  /* .port-hover:hover {
    /* background: #FF00FF; */
    /* height: 50px; */
  /* } */ 
  .nav{
    border-bottom: none;
    background: none;
    color: white;
  }

  .nav-wrapper{
    background-color: rgb(228,181,225,0.6);
    border-radius: 15px;
  }
  

  .icon-row i{
    /* display:flex; */
    /* align-content: space-between; */
    color: white;
    /* margin: 10px; */
  }

  .icon-row{
    /* display:flex;  */
    /* align-content: space-between; */
    width: fit-content;
    margin-bottom: 50px;
  }

    .header-wrapper{
      border-bottom: 1px solid #777777;
      scroll-margin-bottom: 0px;
    }
  
    #header{
      display: flex;
      align-content: space-between;
    }
  
    #name{
      display: flex;
      justify-content: center;
      background: #aa4a85;
      width: 200px;
      color: #ffffff;
   }

   .about-text{
     margin-bottom: 150px;
   }
  
    #aboutme-wrapper{
      /* background: #ffffff; */
      color: #777777;
      width: 100%;
      
    }
  
    .aboutme-wrapper2{
      background:transparent;
      /* padding-top: 300px; */
       margin-top: 50px; 
    }
  
    .my-img{
      border-radius: 50%;
      margin-top: 50px;
      margin-bottom: 50px;
    }
   
    .photo-row{
      width:100%;
    }
    
    .subtitle{
      color: white;
    }
  
    .about-title{
      width:100%;
      /* background: white; */
      margin: 0;
      color: #777777;
    }
    .about-Nav{
      width:100%;
    }
  
    
    
  
    .aboutme-box p{
      margin-left: 100px;
      
    }
  
    .aboutme-box img{
     float: left;
      border-radius: 50%;
    }
     
  
    .aboutme-box em{
      font-weight: bold;
      margin-top: 100px;
    }
  
  
    #about-text{
      margin-left: 50px;
      /* background: white; */
      /* border-top: 1px solid #777777 ; */
      /* color: #777777; */
      color:#777777;
    }

    .nav{
      justify-content: center;;
    }
  
    .content{ 
      /* background: url("../../images//unsplash3.jpg") no-repeat; 
      background-size: cover; 
      margin: 0 auto; */
  
      /* background-attachment: fixed; */
      /* padding-bottom: 70px; */
      /* padding-top: 90px; */
      font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
      min-height: 100vh;  
    } 
  
    .content-port{
      min-height: 100vh;
    }
  
    .name-title{
      padding: 400px 0px 0px 0px;
      color: white;
    }
  
    .head-title{
      padding: 50px 0px 0px 100px;
      background: white;
    }
  
    .navbarNav {
        display: flex;
        align-content: space-between;
    }
  
   .port-content{
    min-height: 100vh; 
   }
  
    
    .form-group{
      width: 920px;
      padding: 10px;
    }
  
    button[type=submit] {
      background-color: #aa4a85;
      color: #ffffff;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      margin-left: 20px;
    }
   
  
    .footer{
      color: #ffffff;
      /* font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif; */
      /* border-top: 8px solid  #aa4a85; */
       margin-top: 300px; 
         bottom: 0;
        width: 100%;
        /* position: absolute; */
        position: relative;
        height: height-footer;
          /* .footer-block {
          margin: 20px 0;
        } */
      }
  
      .footer2{
        color:#777777 ;
        /* font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif; */
        /* border-top: 8px solid  #aa4a85; */
         margin-top: 50px; 
           bottom: 0;
          width: 100%;
          /* position: absolute; */
          position: relative;
          height: height-footer;
            /* .footer-block {
            margin: 20px 0;
          } */
        }
  
      
    
     .my-img img{
        border-radius: 50%;
      }
     
  
    

    
  .about-Nav .nav-link a{
    color: #aa4a85;
  }

  .nav .about-Nav .nav a:link {
      color:white;;
      text-decoration: none;
    }
    
    /* visited link */
   .about-Nav a:visited {
      color:#777777;
      text-decoration: none;
    }
    
    /* mouse over link */
    .about-Nav a:hover {
      color:  #aa4a85;
      text-decoration: none;
    }
    
    /* selected link */
   .about-Nav a:active {
      color: #aa4a85;
      text-decoration: none;
    }
    
    
    .nav a:link {
      color: black;
      text-decoration: none;
    }
    
    /* visited link */
   .nav  a:visited {
      color: #777777;
      text-decoration: none;
    }
    
    /* mouse over link */
  .nav  a:hover {
      color:  #aa4a85;
      text-decoration: none;
    }
    
    /* selected link */
    .nav a:active {
      color:  #aa4a85;
      text-decoration: none;
    }
    
    p{
      color:#777777;
    }

    .carousel-item.active{
      width: 1500px;
    height: 700px;
    align-content: center;
    border: 1px solid #777777;
    display: flex;
    } 

    .carousel-item.active i{
      margin-right: 20px;
    } 
    
    .carousel-caption{
      background-color: rgba(255,255,255,0.9);
      color: black;
      margin-left: 20px;
      margin-bottom: 20px;
      /* border: .5px solid #777777; */
    }
    
    .carousel.slide{
        margin-left: 260px;
        margin-bottom: 50px;
        margin-top: 30px;
}
    

    .carousel-caption i, p, h3, h4, h5, h6{
      color: black;
    }
    .carousel-inner{
      height: 700px;
    }
    
    .Carousel{
      margin-bottom: 30px;
    }

    .port-Nav{
      margin-left: 125px;
    }
    /* .with-margin {
      margin-bottom: 20px;
    }
  
    .card a{
      margin: 60px;
      }
  
      .card img{
        /* width :30rem; */
        /* height: 20rem;
        border: 1px #777777;
      }
    .card{
      width: 30rem;
      box-shadow: 5px 3px 8px grey;
  }
    
    img.card-img-top{
       border-bottom: 1px solid #777777;
       
    }
     */ 